<div class="col-md-10 content">
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../images/logo.png">
                                <div>
                                    Invoice made easy
                                </div>
                                <div>
                                    <div>lengend bills</div>
                                    <div>address area</div>
                                    <div>magadi road</div>
                                    <div>Bangalore 560023</div>

                                </div>
                            </div>
                            <div class="col-md-3 " style="float: left">
                                <div>INVOICE   24</div>
                                <div>Amount Due  $90</div>
                                <div>Due Date    july-31-2017</div>
                                <div>Due Date  june-30-1233</div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>Bill to:</div>
                                <div>lengend bills</div>
                                <div>address area</div>
                                <div>magadi road</div>
                                <div>Bangalore 560023</div>
                            </div>
                            <div class="col-md-4">
                                <div>Ship to:</div>
                                <div>lengend bills</div>
                                <div>address area</div>
                                <div>magadi road</div>
                                <div>Bangalore 560023</div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-striped custab">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Parent ID</th>
                                    <th>hsg</th>
                                    <th>gg</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>1</td>
                                    <td>News</td>
                                    <td>News Cate</td>
                                    <td>gghhghh</td>
                                    <td>hghg</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>News</td>
                                    <td>News Cate</td>
                                    <td>gghhghh</td>
                                    <td>hghg</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>News</td>
                                    <td>News Cate</td>
                                    <td>gghhghh</td>
                                    <td>hghg</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>News</td>
                                    <td>News Cate</td>
                                    <td>gghhghh</td>
                                    <td>hghg</td>
                                </tr>

                            </table>
                        </div>
                        <div class="row">
                            <div>Subtotal     7271</div>
                            <div>General Tax(9%)     2.79</div>
                            <div>Total Invoice     7742.41</div>

                        </div>

            </div>
        </div>
    </div>
</div>